<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-aaf0d1">
  <header class="page-header flex items-center bg-green-900 text-6xl w-full py-8 text-left">
    <a href="/" class="flex-grow flex items-center m-2">
      <span class="text-white">Tech Blog</span>
    </a>

    <div class="text-D5DBC9">
      {{#if logged_in}}
      <a href="/profile" class="mr-4">Home Dashboard</a>
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </header>
</body>

</html>
